In [1]:
import psycopg2

In [2]:
conn = psycopg2.connect(host='localhost', dbname='prosensor', user='postgres', password='2565', port='5432')

In [3]:
cur = conn.cursor()

In [4]:
cur.execute('INSERT INTO mysensor (id, temperature, distance) VALUES (4, 2.1, 2.2)')

In [5]:
conn.commit()

In [6]:
cur.close()
conn.close()

In [12]:
cur.execute('SELECT COUNT(*) FROM myvolt')

In [13]:
conn.commit()

In [14]:
count = cur.fetchone()

In [16]:
count[0]

3

In [4]:
import pandas.io.sql as psql

In [5]:
df = psql.read_sql('SELECT * FROM myvolt', conn)

In [6]:
print(df)

      id          time   volt
0      1  1.606465e+09  2.311
1      2  1.606465e+09  1.627
2      3  1.606465e+09  1.500
3      4  1.606465e+09  1.476
4      5  1.606465e+09  1.466
..   ...           ...    ...
96    97  1.606465e+09  1.451
97    98  1.606465e+09  1.451
98    99  1.606465e+09  1.456
99   100  1.606465e+09  1.466
100  101  1.606465e+09  1.466

[101 rows x 3 columns]

In [7]:
df.head()

   id          time   volt
0   1  1.606465e+09  2.311
1   2  1.606465e+09  1.627
2   3  1.606465e+09  1.500
3   4  1.606465e+09  1.476
4   5  1.606465e+09  1.466

In [8]:
df.describe()

               id          time        volt
count  101.000000  1.010000e+02  101.000000
mean    51.000000  1.606465e+09    1.468921
std     29.300171  8.012863e+01    0.086575
min      1.000000  1.606465e+09    1.451000
25%     26.000000  1.606465e+09    1.451000
50%     51.000000  1.606465e+09    1.456000
75%     76.000000  1.606465e+09    1.466000
max    101.000000  1.606465e+09    2.311000

In [17]:
ser = df.mean()

In [18]:
ser[2]

1.4689207920792067

In [19]:
ser = df.std()

In [20]:
ser[2]

0.08657455551931144

In [21]:
ser[0]

29.300170647967224

In [13]:
ser = df.min()

In [15]:
ser = df.max()